@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    scroll-behavior: smooth;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    background-color: #ff603c;
    right:10px;
    padding: 25px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    border-radius: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size:20px !important;
    font-weight: 900;
    color: white;
}

.spotify {
    background: linear-gradient(92deg,#23c48f 4.18%,#2ec55d 96.34%);
}

.instagram {
    background: linear-gradient(69deg,#5d67e4 -14.14%,#a84ca7 48.11%,#e64376 100.12%);
}

.youtube {
    background: linear-gradient(90deg, #f96 0%, #ff5e62 100%);
}

.tiktok {
    background: linear-gradient(92deg, #ff0050 4.18%, #ff005188 100%)
}

.threads {
    background: linear-gradient(92deg, #000000 4.18%, #eeeeee 100%)
}

.slide-text::after {
    background-color: black;
    content: "";
    height: 100px;
    width: 200px;
    z-index: 99;
}